<link href="~/Content/Site.css" rel="stylesheet" />

<div ng-app="chessApp">
    <div ng-controller="analysisCtrl">
        <br />
        <div class="row">
            <div>Eval: <b>{{eval}}</b></div>
        </div>

        <div class="row">
            <div id="mainBoard" class="col-md-5">
                <div ng-repeat="x in [0,1,2,3,4,5,6,7]">
                    <span ng-repeat="y in [0,1,2,3,4,5,6,7]">
                        <span ng-class="getClass(x, y)" class="cell X{{x}}Y{{y}}"
                              ng-style="{'transform': getTransform(x, y)}">
                            <span ng-show="getPieceEval(x, y) != 0">{{getPieceEval(x, y)}}</span>
                        </span>
                    </span>
                </div>
            </div>

            <div id="gameMoves" class="col-md-5">
                <span ng-repeat="move in moveList track by $index">
                    <span ng-if="$index % 2 == 0">{{$index / 2 + 1}}.</span>
                    {{move}}
                    <br ng-if="$index % 2 == 1"/>
                </span>
            </div>
        </div>

        <input ng-model="move" ng-style="errorStyle"/>
        <button type="button" class="btn btn-default" ng-click="submitMove()">Submit</button>

        <br/>
        <br/>

        <button type="button" class="btn btn-default" ng-click="restart()">Restart</button>

    </div>
</div>


<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controllers/HomeController.js"></script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/SignalR/jquery.color-2.1.2.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="/signalr/hubs"></script>

