<link href="~/Content/Site.css" rel="stylesheet" />

<div ng-app="chessApp">
    <div ng-controller="analysisCtrl">

        <div class="row">
            <div>{{eval}}</div>
        </div>


        <div class="row">
            <div id="mainBoard" class="col-md-5">
                <div ng-repeat="x in [0,1,2,3,4,5,6,7]">
                    <span ng-repeat="y in [0,1,2,3,4,5,6,7]">
                        <span ng-class="getClass(x, y)" class="cell X{{x}}Y{{y}}"
                              ng-style="{'transform': getTransform(x, y)}">|{{x}},{{y}}|</span>
                    </span>
                </div>
            </div>
        </div>

        <input ng-model="move"/>
        <button type="button" class="btn btn-default" ng-click="submitMove()">Submit</button>

        <br/>
        <br/>
        <br/>

        <br/>

        <button type="button" class="btn btn-default" ng-click="restart()">Restart</button>

    </div>
</div>


<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controllers/HomeController.js"></script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/SignalR/jquery.color-2.1.2.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="/signalr/hubs"></script>

